<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creative aging</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mirza:wght@400;500;600;700&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>




    <!-- HEADER START -->

    <header>
        <div class="flx row space-between">

            <h1>the creative aging project</h1>
            <div class="right">
                <img class="logo" src="/static/assets/scribble_line_skinny_ish_neon_yellow.png" alt="logo is a scribbly knotty ball of lines">
                <h2>Welcome, {{ session["first_name"] }}!</h2>
                <nav class="flx row gap-2 upper">
                    <!-- condition to determine if user_type is teacher or admin, thus showing ability to create course: -->
                    <a href="/course/new">create a course</a>
                    <a href="/dashboard">view courses</a>
                    <!-- <a href="/user/{{ session['logged_in_user_id'] }}">my courses</a> -->
                    <a href="/logout">logout</a>
                </nav>
            </div>
        </div>
    </header>
    <!-- HEADER END -->



    <main>
        <!-- <h2 class="mt mb">Logged in as: {{ session['first_name'] }}!</h2> -->
        <div class="flx row gap-1">




            <!-- USERS TREE LIST -->

            <div class="card">
                <h3 class="mt mb">courses you've created:</h3>
                <ul>
                    {% for course in creator.courses %}
                    <li class="flx row gap-3">
                        <span>{{ course.title }}</span>
                        <span><a href="/delete/{{ course.id }}">delete</a></span>
                        <span><a href="/course/edit/{{ course.id }}">edit</a></span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- LIST END-->


        </div>    
    </main>

</body>
</html>