<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creative aging</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mirza:wght@400;500;600;700&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>




    <!-- HEADER START -->

    <header>
        <img class="logo" src="/static/assets/scribbly-logo-black.png" alt="logo is a scribbly knotty ball of lines">
        <h1 class="mb">the creative aging project</h1>
        <h2 class="mt">Welcome, {{ session["first_name"] }}!</h2>
        <nav class="upper flx gap-2">
            <!-- condition to determine if user_type is teacher or admin, thus showing ability to create course: -->
            {% if session["user_type"] == 'teacher' or session["user_type"] == 'admin' %}
            <a href="/course/new">add a course</a>
            {% endif %}
            <a href="/dashboard">view courses</a>
            <!-- <a href="/user/{{ session['logged_in_user_id'] }}">my courses</a> -->
            <a href="/logout">logout</a>
        </nav>
    </header>
    <!-- HEADER END -->



    <main>
        
        <!-- IF TEACHER OR ADMIN... -->

        {% if session["user_type"] == 'teacher' or session["user_type"] == 'admin' %}
            <h3 class="mt mb">Courses created by you:</h3>
            <div class="flx wrap gap-3">
                {% for course in creator.courses %}
                    <div class="flx col card card-small space-between">
                        <h2 class="italic">{{ course.title }}</h2>
                            <a href="/course/{{ course.id }}"></a>
                            <!-- <a href="/delete/{#{{ course.id }}#}"><img src="/static/assets/red-x-thick.png" alt="scribbly sketch of a trashcan by gabbe" class="trashcan-sketch"></a> -->
                        <img class="mt img-card-small" src="/static/assets/uploads/{{ course.course_img }}" alt="photo or graphic representing this course">
                    </div>
                {% endfor %}

                {% if not creator.courses %}
                    <p>You have not yet created any courses.</p>
                {% endif %}

                <a class="btn" href="/course/new">add a course</a>

            </div>

        <!-- IF STUDENT... -->

        {% else %}
            <h3 class="mt mb">Completed Courses:</h3>
            <div class="flx wrap gap-3">
                {% for course in student.courses %}
                    <!-- <div class="flx col card card-small gap-2"> -->
                            <!-- <span>{#{{ course.title }}#}</span>
                            <span>{#{{ course.start_date }} - {{ course.end_date }}#}</span>
                            <span><a href="/course/{#{{ course.id }}#}">details</a></span> -->
                    <!-- </div> -->
                {% endfor %}

                {% if not student.courses %}
                    <p>You have not yet registered for any courses.</p>
                {% endif %}
                <button>
                    <a href="/dashboard">register for a course</a>
                </button>
            </div>
        {% endif %}


    </main>

</body>
</html>