<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creative aging</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mirza:wght@400;500;600;700&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>


    <!-- HEADER START -->

    <header>
        <img class="logo" src="/static/assets/scribble_line_dark_green.png" alt="logo is a scribbly knotty ball of lines">
        <h1 class="mb">the creative aging project</h1>
        <h2 class="mt">Welcome, {{ session["first_name"] }}!</h2>
        <nav class="upper flx gap-2">
            <a href="/dashboard">view courses</a>
            <a href="/user/{{ session['logged_in_user_id'] }}">my courses</a>
            <a href="/logout">logout</a>
        </nav>
    </header>
    <!-- HEADER END -->



    <main>



        <!-- ADD COURSE FORM START -->

        <form action="/course/create" method="post" class="card flx col gap-3" id="add" enctype=multipart/form-data>

            <h2 class="mt mb">add a new course:</h2>

            <!-- FLASH VALIDATION MESSAGES-->

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flx alert col gap-1 mb">
                        {% for message in messages %}
                                <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <!-- should below value be session['user_id']? -->
            <!-- <input type="hidden" name="logged_in_user_id" value="{{ session['logged_in_user_id'] }}"> -->
            <input type="hidden" name="logged_in_user_id" value="{{ session['logged_in_user_id'] }}">

            <div class="flx row">
                <label class="flx-2" for="title">title: </label>
                <input class="flx-5 border-bottom" type="text" name="title">
            </div>

            <div class="flx row">
                <label class="flx-2" for="description">description: </label>
                <textarea class="flx-5 border-bottom" type="text" name="description" rows="4"></textarea>
            </div>

            <!-- checkboxes -->

            <div class="flx row">
                <section class="flx-2">
                    <label>requirements:</label>
                </section>

                <section class="flx-5">
                    <label for="requirement-1" class="form-control">
                        <input type="checkbox"
                            id="requirement-1"  
                            name="requirements" 
                            value="No experience necessary"
                            unchecked />
                        No experience necessary.
                    </label>

                    <label for="requirement-2" class="form-control">
                        <input type="checkbox" 
                            id="requirement-2" 
                            name="requirements" 
                            value="Basic knowledge of the subject"
                            unchecked />
                        Basic knowledge of the subject.
                    </label>

                    <label for="requirement-3" class="form-control">
                        <input type="checkbox" 
                            id="requirement-3" 
                            name="requirements" 
                            value="Must have a smartphone"
                            unchecked />
                        Must have a smartphone.
                    </label>

                    <label for="requirement-4" class="form-control">
                        <input type="checkbox" 
                            id="requirement-4" 
                            name="requirements" 
                            value="Must be at least 60 years old"
                            unchecked />
                        Must be at least 60 years old.
                    </label>

                    <label for="requirement-5" class="form-control">
                        <input type="checkbox" 
                            id="requirement-5" 
                            name="requirements" 
                            value="Bring your own supplies"
                            unchecked />
                        Bring your own supplies.
                    </label>
                </section>
            </div>

            <!-- end checkboxes -->

            <div class="flx row space-between">
                <div class="self-center">
                    <label for="price">price: $</label>
                    <input class="border-bottom" id="price" type="number" name="price">
                </div>

                <div class="self-center">
                    <p> photo for course page:</p>
                </div>

                <div class="self-center">
                    <label for="actual-btn" id="stylable-uploader" class="btn">photo upload</label>
                    <input type="file" name="course_img" id="actual-btn" hidden>
                </div>
            </div>

            <!-- datepicker -->

            <div class="flx row space-between align-center">
                <label for="start_date">start date: </label>
                <input class="border-bottom" type="date" name="start_date" id="start-date">
                <label for="end_date">end date:</label>
                <input class="border-bottom" type="date" name="end_date" id="end-date">
            </div>

            <!-- timepicker -->

            <div class="flx row space-between align-center">
                <label for="start_time">start time: </label>
                <div class="flx row">
                    <select name="start_time_hour" id="start_time_hour">
                        <option value="01" name="01">01</option>
                        <option value="02" name="02">02</option>
                        <option value="03" name="03">03</option>
                        <option value="04" name="04">04</option>
                        <option value="05" name="05">05</option>
                        <option value="06" name="06">06</option>
                        <option value="07" name="07">07</option>
                        <option value="08" name="08">08</option>
                        <option value="09" name="09">09</option>
                        <option value="10" name="10">10</option>
                        <option value="11" name="11">11</option>
                        <option value="12" name="12">12</option>
                    </select><span>:</span>
                    <select name="start_time_min" id="start_time_min">
                        <option value="00">00</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                    </select>
                    <select name="start_time_ampm" id="start_time_ampm">
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                    </select>
                </div>
                <label for="end_time">end time:</label>
                <div class="flx row">
                    <select name="end_time_hour" id="end_time_hour">
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select><span>:</span>
                    <select name="end_time_min" id="end_time_min">
                        <option value="00">00</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                    </select>
                    <select name="end_time_ampm" id="end_time_ampm">
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="submit" class="mt">add course</button>
            </div>  
        </form>
        <!-- FORM END -->





        </div>
    </main>

</body>
</html>