<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creative aging</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mirza:wght@400;500;600;700&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>


    <!-- HEADER START -->


    <header class="flx row space-between">
        <div class="flx col space-between">
            <h1 class="width-40-percent">the creative aging project</h1>

            <nav class="upper flx gap-2 mb">
                <!-- conditional rendering: -->
                {% if session["user_type"] == 'teacher' or session["user_type"] == 'admin' %}
                    <a href="/course/new">add a course</a>
                {% endif %}
                <a href="/user/{{ session['logged_in_user_id'] }}">my courses</a>
                <a href="/logout">logout</a>
            </nav>

            <h2 class="mt">Welcome, {{ session['first_name'] }}!</h2>
        </div>

        <img class="logo" src="./static/assets/scribble_line_skinny_ish_neon_yellow.png" alt="logo is a scribbly knotty ball of lines">

    </header>
    <!-- HEADER END -->



    <main>
        <h3 class="mt mb">Here are some of the upcoming courses being offered:</h3>
        <div class="flx wrap gap-3">
            {% for course in all_courses %}
                <div class="flx col card card-300 gap-2">
                    <h2 class="italic">
                        <a href="/course/{{ course.id }}">{{ course.title }}"</a>
                    </h2>
                    with {{ course.creator.first_name }} {{ course.creator.last_name }}
                    <a href="/course/{{ course.id }}">details</a>
                    <a href="/course/{{ course.id }}">
                        <img class="img-card-300" src="{{ course.img_url }}" alt="photo or graphic representing this course">
                    </a>
                </div>
            {% endfor %}

        </div>





    </main>

</body>
</html>