<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creative aging</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mirza:wght@400;500;600;700&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>


    <!-- HEADER START -->

    <header>
        <img class="logo" src="/static/assets/scribble_line_dark_green.png" alt="logo is a scribbly knotty ball of lines">
        <h1 class="mb">the creative aging project</h1>
        <h2 class="mt">Welcome, {{ session["first_name"] }}!</h2>
        <nav class="upper flx gap-2">
            <!-- condition to determine if user_type is teacher or admin, thus showing ability to create course: -->
            <a href="/course/new">add a course</a>
            <a href="/dashboard">view courses</a>
            <a href="/user/{{ session['logged_in_user_id'] }}">my courses</a>
            <a href="/logout">logout</a>
        </nav>
    </header>
    <!-- HEADER END -->



    <main>




            <!-- FORM START -->

            <form action="/course/update" method="post" class="card" id="edit" enctype=multipart/form-data>

                <h2 class="mt mb">edit your course:</h2>

                <!-- FLASH VALIDATION MESSAGES-->

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="flx col alert gap-2">
                            <p class="alert">{{ message }}</p>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <input type="hidden" name="id" value="{{ course.id }}">

                <div class="border_bottom_white mb">
                    <label for="title">title: </label>
                    <input type="text" name="title" value="{{ course.title }}">
                </div>
    
                <div class="border_bottom_white mb">
                    <label for="description">description: </label>
                    <textarea class="mb mt" type="text" name="description" rows="4" value="{{ course.description }}">{{ course.description }}</textarea>
                </div>
    
                <div class="border_bottom_white mb">
                    <label for="price">price: </label>
                    $<input type="number" name="price" value="{{ course.price }}">
                </div>
    
                <div class="border_bottom_white mb">
                    <label for="requirements">requirements:</label>
                    <select name="requirements" id="requirements">
                        <option value="No experience necessary.">no experience necessary</option>
                        <option value="basic understanding of the subject">basic understanding of the subject</option>
                        <option value="bring your own supplies">bring your own supplies</option>
                    </select>
                </div>
    
                <div class="border_bottom_white mb">
                    <label for="course_img">upload a different image for your course page:</label>
                    <input type="file" name="course_img" value="{{ course.course_img }}">
                </div>

                <div class="flx row mt">
                    <label class="flx-2" for="start_date">starts: </label>
                    <input class="flx-4" type="date" name="start_date"  value="{{ course.start_date }}">
                </div>

                <div class="flx row mt">
                    <label class="flx-2" for="end_date">ends: </label>
                    <input class="flx-4" type="date" name="end_date" value="{{ course.end_date }}">
                </div>

                <div class="flx row mt mb">
                    <div class="flx row">
                        <label class="flx-2" for="start_time">hours: </label>
                        <select name="start_time_hour" id="start_time_hour">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        :
                        <select name="start_time_min" id="start_time_min">
                            <option value="00">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                        <select name="start_time_ampm" id="start_time_ampm">
                            <option value="AM">AM</option>
                            <option value="PM">PM</option>
                        </select>
                    </div>
                    <div class="flx row">
                        <label class="flx-2" for="end_time"></label>
                        <select name="end_time_hour" id="end_time_hour">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        :
                        <select name="end_time_min" id="end_time_min">
                            <option value="00">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                        <select name="end_time_ampm" id="end_time_ampm">
                            <option value="AM">AM</option>
                            <option value="PM">PM</option>
                        </select>
                    </div>
                </div>

                <div>
                    <button type="submit" class="mt">update course info</button>
                </div>  
            </form>
            <!-- FORM END -->



    </main>

</body>
</html>