<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creative aging</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mirza:wght@400;500;600;700&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>


    <!-- HEADER START -->

    <header>
        <img class="logo" src="/static/assets/scribble_line_dark_green.png" alt="logo is a scribbly knotty ball of lines">
        <h1 class="mb">the creative aging project</h1>
        <h2 class="mt">Welcome, {{ session["first_name"] }}!</h2>
        <nav class="upper flx gap-2">
            <!-- condition to determine if user_type is teacher or admin, thus showing ability to create course: -->
            {% if session["user_type"] == 'teacher' or session["user_type"] == 'admin' %}
            <a href="/course/new">add a course</a>
            {% endif %}
            <a href="/dashboard">view courses</a>
            <a href="/user/{{ session['logged_in_user_id'] }}">my courses</a>
            <a href="/logout">logout</a>
        </nav>
    </header>
    <!-- HEADER END -->





    <main>

        <div class="card flx col gap-2">
            <h2 class="italic"><span>{{ course.title }}</span></h2>
            <span>
                <p>with {{ course.creator.first_name }} {{ course.creator.last_name }}</p>
            </span>
            <section class="flx row space-between gap-3 mt mb">
                <div class="flx col gap-2 flx-2">

                    <p>on {{ course.start_date.strftime("%A") }}s, from {{ course.start_time_hour }}:{{ course.start_time_min }} {{ course.start_time_ampm }} to {{ course.end_time_hour }}:{{ course.end_time_min }} {{ course.end_time_ampm }}</p>

                    <p>{{ course.start_date.strftime("%B %d, %Y") }} - {{ course.end_date.strftime("%B %d, %Y") }}</p>

                    <p>Requirements for this course:<br>{{ course.requirements }}</p>

                    <div class="flx row gap-1">
                        <p>Cost:</p>
                        {% if course.price == 0 %}
                        <p>FREE</p>
                        {% else %}
                        <p>${{ course.price }}</p>
                        {% endif %}
                    </div>

                </div>

            <!-- check if this is the creator of this course. if so show: -->
            {% if session["user_type"] != 'student' %}
                <div class="flx col gap-1 flx-1">
                        <a href="/course/edit/{{ course.id }}" class="btn">edit this course</a>

                        <a href="/delete/{{ course.id }}" class="btn">delete this course</a>

                </div>
            {% endif %}
            </section>
            <p class="justify line-height-less">{{ course.description }}</p>
            
                <img class="mt mb" src="/static/assets/uploads/{{ course.course_img }}" alt="photo uploaded by teacher representing this class and the activities within it.">
        </div>


    </main>

</body>
</html>