<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creative aging</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mirza:wght@400;500;600;700&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>


    <!-- HEADER START -->

    <header class="flx row space-between">
        <div class="flx col space-between">
            <h1 class="width-40-percent">the creative aging project</h1>
            <nav class="upper flx gap-2 mb">
                <!-- condition to determine if user_type is teacher or admin, thus showing ability to create course: -->
                <a href="/course/new">add a course</a>
                <a href="/dashboard">view courses</a>
                <a href="/user/{{ session['logged_in_user_id'] }}">my courses</a>
                <a href="/logout">logout</a>
            </nav>
            <h2 class="mt">Welcome, {{ session["first_name"] }}!</h2>
        </div>
        <img class="logo" src="/static/assets/scribble_line_skinny_ish_neon_yellow.png" alt="logo is a scribbly knotty ball of lines">
    </header>
    <!-- HEADER END -->





    <main>

        <div class="card" id="view_one">

            <div class="flx row space-between">

                <h2 class="mt mb italic">{{ course.title }}</h2>
                <!-- check if this is the creator of this course. if so show: -->
                <a href="/course/edit/{{ course.id }}" class="mt upper">edit this course</a>
            
            </div>
            
            <span class="flx row">

                <h3>with</h3>
                <p class="ml">{{ course.creator.first_name }} {{ course.creator.last_name }}</p>

            </span>

            <div class="flx row mt mb gap-3">

                <section class="flx col flx-1 gap-1">

                    <div>
                        <!-- <h3 class="flx-1">dates: </h3> -->
                        <p>{{ course.start_date }} - {{ course.end_date }}</p>
                    </div>

                    <div>
                        <!-- <h3 class="flx-1">times: </h3> -->
                        <p>{{ course.start_time }} - {{ course.end_time }}</p>
                    </div>

                    <div>
                        <!-- <h3 class="flx-1">requirements: </h3> -->
                        <p>{{ course.requirements }}</p>
                    </div>

                    <div>
                        <!-- <h3 class="flx-1">description: </h3> -->
                        <p class="justify line-height-less">{{ course.description }}</p>
                    </div>
    
                    <div>
                        <!-- <h3 class="flx-1">price: </h3> -->
                        <p>${{ course.price }}</p>
                    </div>
        
                </section>
    
                <section class="flx-1 class-pic">

                    <h3 class="hidden"></h3>
                    <p>{{ course.img_url }}</p>

                </section>

            </div>

            
        </div>
        

    </main>

</body>
</html>