# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

# ignore dotenv
.env

# ignore uploads
**/uploads/

# ignore alternate schemas, leave active schema in root folder
**/schemas