/*******************************************/
/*! RESET
/*******************************************/
/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border: none;
	border-collapse: collapse;
	border-spacing: 0;
}
/*******************************************/
/*! RESPONSIVE FONT SIZING
/*******************************************/

html {
    font-size: 62.5%;
}
body {
    font-size: 1.8rem;
}
h1 {
    font-size: 2.8rem;
}
h2 {
    font-size: 2rem;
}
header h2{
    font-size: 3.8rem;
}
table *{
    font-size: 2.7rem;
}
.alert{
    font-size: 1.6rem;
}
input{
    font-size: 1.8rem;
}
textarea{
    font-size: 1.8rem;
}
select{
    font-size: 2rem;
}
span{
    font-size: 3rem;
}
button{
    font-size: 2rem;
}
.hidden {
    font-size: 1px;
}
.time_picker select{
    font-size: 3rem;
}
/*******************************************/
/*! TYPOGRAPHY SPACING (LINE, WORD, LETTER)
/*******************************************/
body {
	line-height: 1.8rem;
    letter-spacing: .34rem;
}
h1{
    line-height: 1.36em;
    letter-spacing: .34rem;
}
header{
    line-height: 4rem;
}
form label{
    letter-spacing: normal;
}
.card{
    line-height: 3rem;
    letter-spacing: normal;
}
h2{
    letter-spacing: .36rem;
}
.line-height-less{
    line-height: 2rem;
}
nav a:-webkit-any-link{
    letter-spacing: normal;
    line-height: 4rem;
}
/*******************************************/
/*! FONT WEIGHT
/*******************************************/
body*{
    font-weight:400;
}
header{
    font-weight: 600;
}
.alert{
    font-weight: 600;
}
h1{
    font-weight: 700;
}
h2{
    font-weight: 700;
}
h3{
    font-weight: 600;
}
nav a{
    font-weight: 500;
}
nav a:hover{
    font-weight: 700;
}
span{
    font-weight: 600;
}
button,
.btn{
    font-weight: 700;
}
label{
    font-weight: 600;
}
input{
    font-weight: 600;
}
textarea{
    font-weight: 600;
}
select{
    font-weight: 700;
}
.time_picker select{
    font-weight: 700;
}
.card-small h2{
    font-weight: 600;
}
.card h2{
    font-weight: 600;
}
p{
    font-weight: 600;
}
.card-small {
    position: relative;
}
.card-small a::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/*******************************************/
/*! ALIGN
/*******************************************/

.right{
    text-align: right;
}
.left{
    text-align: left;
}
/*******************************************/
/*! COLOR
/*******************************************/
.orange{
    color: #ff8800;
}
.black{
    color: #261b1b;
}
.grey{
    color: #7b7676;
}
.light-grey{
    color: #bab1b1;
}
.very-light-grey{
    color: #f1e4e4;
}
.red{
    color: #e25a5a;
}
.light-red{
    color: #ffb4b4;
}
.yellow{
    color: #edd643;
}
.blue{
    color: #3877ff;
}
.light-blue{
    color: #c6deff;
}
/*******************************************/
/*! FONT-FAMILIES, COLORS & STYLES
/*******************************************/
.ibm-plex-mono {
    font-family: 'IBM Plex Mono', monospace, sans-serif;
}
.anybody {
    font-family: 'Anybody', cursive;
}
.mirza {
    font-family: 'Mirza', cursive;
}
.silkscreen {
    font-family: 'Silkscreen', cursive;
}
.italic{
    font-style: italic;
}
.upper{
    text-transform: uppercase;
}
body  {
    font-family: 'IBM Plex Mono', monospace;
    color: #261b1b;
}
form{
    /* color: inherit; */
}
label{
    /* color: inherit; */
}
input{
    /* color: inherit; */
}
textarea{
    font-family: inherit;
}
button,
.btn{
    color: #261b1b;
}
button:hover,
.btn:hover{
    color: #261b1b;
}
a:-webkit-any-link{
    text-decoration: none;
}
nav a:-webkit-any-link{
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 20%;
}
nav a:hover{
    text-decoration-thickness: 25%;
}
.thick-underline{
    text-decoration: underline;
    text-decoration-thickness: 15%;
}
nav a:hover {
    color: inherit;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
}
.card-small:hover{
    /* color: #b2d8ff; */
}
.alert{
    color: #ffffff;
    text-transform: uppercase;
}
button,
.btn{
    text-decoration: none;
}
textarea:focus,
input:focus {
    caret-color: #261b1b;
}
p{
    /* color: inherit; */
}
/*******************************************/
/*! BACKGROUND COLORS
/*******************************************/

body{
    background-image: linear-gradient(to bottom left,  rgb(118, 210, 173), rgb(129, 216, 203)20%, rgb(131, 220, 240), rgb(161, 216, 248)80%);
    /* background-position: right bottom, left top; */
    /* background-repeat: no-repeat, repeat; */
    /* background-image: url(/static/assets/pale-blue-grid-wider.png); */
    background-attachment: fixed;
    /* background-image: linear-gradient(to bottom right,  pink, rgb(212, 212, 255)80%); */
    background-size:cover;
    /* background-image: linear-gradient(to bottom right,rgba(228, 255, 237, 0.709), rgba(185, 232, 255, 0.701)80%),url(/static/assets/scribble_logo_white.png),linear-gradient( rgba(188, 217, 255, 0.537), rgba(172, 205, 255, 0.603)); */
    
    /* background-image: linear-gradient(0.70turn,rgba(170, 208, 255, 0)30%, rgb(237, 214, 67)30%),url(/static/assets/20190826_110130.jpg); */
    /* background-color: #c6deff; */
    
}
form,
.card{
    background-color: #ffe2c5b8;
}
.card-small:hover{
    background-color: #ffe2c5;
}
button,
.btn{
    background-color: #00e1e1b7;
}
button:hover,
.btn:hover{
    background-color:#c6deff;
}
form div input,
form div input:active,
form div input:focus,
form div input:focus-visible,
form div input:autofill {
    background-color: #ffffff;
    outline: none;
}
textarea{
    background-color: white;
}
textarea:focus,
textarea:active{
    background-color: white;
    outline: none;
}
select {
    background-color: white;
}
.alert{
    background-color: #ff8800;
}
.user-type-radios{
    background-color: #f1e4e4;
}
/*******************************************/
/*! BORDERS
/*******************************************/
form,
.card {
    border-radius: 2em;
    border: 1px solid #261b1b;
}
input,
textarea {
    border: none;
    border-radius: 10px;
}
.border-bottom {
    border-bottom: 1px solid #261b1b;
}
.form-input-border{
    border: 1px solid #261b1b;
}
button,
.btn {
    border-radius: 30px;
    border: 1px solid #261b1b
}
img{
    border: 1px solid #261b1b;
    border-radius: 2em;
}
.logo{
    border: none;
    border-radius: none;
}
.skinny-border{
    border: 1px solid #261b1b;
    border-radius: 2em;
}
select{
    border: 2px solid #261b1b;
}
.user-type-radios{
    border-radius: 10px;
    /* border: 1px solid #0c4303; */
}
.user-type-radios::after{
    border-radius: 10px;
    /* border: 1px solid #0c4303; */
}
.card{
    box-shadow: 3px 3px rgb(11, 0, 11);
}
.img-card-small{
    /* border-right: 3px solid black;
    border-bottom: 3px solid black; */
    box-shadow: -3px -3px #0b000b;
}
.card img{
    /* border-right: 3px solid black;
    border-bottom: 3px solid black; */
    box-shadow: -3px -3px #0b000b;
}
.alert{
    /* border-radius: 30px; */
}
/*******************************************/
/*! LAYOUT
/*******************************************/

body {
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    /* margin-left: 10%; */
}
header {
    padding: 30px 0;
}
main{
    height: 825px;
}
.logo {
    width: 125px;
    height: 125px;
    /* align-self: flex-end; */
}
.img-card-small{
    /* max-height:initial; */
    width: 100%;
    max-height: 70%;
    object-fit: cover;
}
.alert{
    padding: 10px;
}
input{
    box-sizing: border-box;
    height: 40px;
    padding-left: 15px;
}
#reg {
    width: 48%;
}
#login{
    width: 48%;
}
textarea{
    width: 100%;
    padding-left: 15px;
}
section{
    width: 100%;
}
.card{
    padding: 40px;
    /* height: 800px; */
}
.card-small{
    width: 48%;
    height: 360px;
}
.grid{
    display: grid;
}
.flx {
    display: flex;
}
.col {
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.wrap{
    flex-wrap: wrap;
}
.flx-end{
    justify-content: flex-end;
}
.justify-center{
    justify-content: center;
}
.flx-start{
    justify-content: flex-start;
}
.space-evenly{
    justify-content: space-evenly;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.vert-align-middle{
    vertical-align: middle;
}
.vert-align-base{
    vertical-align: baseline;
}
.vert-align-auto{
    vertical-align: auto;
}
.vert-align-top{
    vertical-align:top;
}
.align-center{
    align-items: center;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}
.self-center{
    align-self: center;
}
.self-base{
    align-self: baseline;
}
.mt {
    margin-top: 20px;
}
.pt {
    padding-top: 20px;
}
.mb {
    margin-bottom: 20px;
}
.mr {
    margin-right: 20px;
}
.ml {
    margin-left: 25px;
}
.pl{
    padding-left: 100px;
}
.flx-1 {
    flex: 1;
}
.flx-2 {
    flex: 2;
}
.flx-3 {
    flex: 3;
}
.flx-4 {
    flex: 4;
}
.flx-5 {
    flex: 5;
}
.width-25-percent{
    width: 25%;
}
.width-40-percent{
    width: 40%;
}
.width-50-percent{
    width: 50%;
}
.width-75-percent{
    width: 75%;
}
.gap-1 {
    gap: 1rem;
}
.gap-2 {
    gap: 2rem;
}
.gap-3 {
    gap: 3rem;
}
.gap-4 {
    gap: 4rem;
}
.gap-5 {
    gap: 5rem;
}
.hidden {
    visibility: collapse;
    margin: 0;
    padding: 0;
}
.card {
    margin: 0;
}
button,
.btn{
    padding: 15px;
}
.short-alert {
    width: 50%;
}
#reg input,
#login input{
    width: 100%;
    /* padding: 0; */
}
#add,
#edit{
    /* width: auto; */
}
#add input,
#edit input{
    /* height: 25px; */
    /* width: 690px; */
}
#stylable-uploader{
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}
.time_picker select{
    /* margin: 20px; */
    /* padding: 10px; */
}
.trashcan-sketch{
    width: 50px;
}
#start-date,
#end-date{
padding: 10px;
font-size: larger;
border: 1px solid #0c4303;
}
/*******************************************/
/*! TEXT FORMATTING
/*******************************************/

.justify{
    text-align: justify;
}
.text-center{
    text-align: center;
}
.card{
    word-wrap: break-word;
    -webkit-hyphens:auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.card-small{
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.alert{
    text-align: center;
}
.user-type-radios label{
    /* text-align: center; */
}
/*******************************************/
/*! FORM COMPONENTS
/*******************************************/

input,
textarea {
    /* vertical-align: bottom; */
}
textarea {
    /* background-image: url(/static/assets/pale-blue-grid.png);
    background-size:cover; */
}
textarea:focus,
input:focus {
    outline: none;
}
#price{
    width: 100px;
}
/*******************************************/
/*! FORM CHECKBOXES
/*******************************************/
.form-control {
    font-size: 2rem;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 2em auto;
    gap: 0.5em;
}
input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    padding-left: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
.form-control + .form-control {
    margin-top: 1em;
}
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: black;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
}
input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}
/*******************************************/
/*! USER_TYPE RADIOS
/*******************************************/
section > div {
    /* color: #bab1b1; */
    flex: 1;
}
input[type="radio"] {
    color: #7b7676;
    display: none;
    &:not(:disabled) ~ label {
      cursor: pointer;
      color: #bab1b1;
    }
    &:disabled ~ label {
      /* color: hsla(150, 5%, 75%, 1); */
      border-color: hsla(150, 5%, 75%, 1);
      box-shadow: none;
      cursor: not-allowed;
    }
}
.user-type-radios label{
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.user-type-radios{
    align-items: center;
}
.user-type-radios label:hover{
    background-color: #e9fff8;
    color: #261b1b;
    border-radius: 10px;
    border-bottom: 1px solid #261b1b;
}
input[type="radio"]:checked + label {
    border-radius: 10px;
    border-bottom: 1px solid #261b1b;
    background: #ffffff;
    color: #261b1b;
    padding: 0;
    box-sizing: border-box;
    &::after {
        color:  #261b1b;
        font-family: FontAwesome;
        /* border: 2px solid hsla(150, 75%, 45%, 1); */
        content: "\f00c";
        font-size: 24px;
        position:relative;
        top: -50px;
        left: 50%;
        /* transform: translateX(-50%); */
        /* height: 50px; */
        /* width: 50px; */
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        /* background: white; */
        /* box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25); */
        /* padding: 5px; */
    }
}
input[type="radio"]#admin:checked + label {
    color: white;
    background: red;
    border-color: red;
    align-self: center;
}
/*******************************************/
/*! MY TABLES
/*******************************************/

.tableFixHead {
  margin: 25px 0;
  overflow-y: auto;
  height: 250px;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.tableFixHead::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.tableFixHead thead th {
  background-color: #000000;
  position: sticky;
  top: 0px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
  /* border: 1px solid #ccc; */
}
tr:hover {
  background: #054b36;
}
.time_picker select{
    border-radius: 5px;
    border: 2px solid #054b36;
}

/*******************************************/
/*! MY BUTTONS
/*******************************************/
button{
    box-sizing: border-box;
    width: 100%;
    /* height: 100%; */
}
.btn{
    box-sizing: border-box;
    width: 100%;
}
button,
.btn{
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 5px 5px #0b000b;
}
button:hover,
.btn:hover{
    box-shadow: 1px 1px #0b000b;
}
