/*******************************************/
/*! RESET
/*******************************************/
/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border: none;
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************************************/
/*! RESPONSIVE FONT SIZING
/*******************************************/

html {
    font-size: 62.5%;
}
body {
    font-size: 1.8rem;
}
h1 {
    /* font-size: 4.18rem; */
    font-size: 2.5rem;
}
h2 {
    font-size: 2.18rem;
}
header h2{
    font-size: 3.8rem;
}
h3 {
    /* font-size: 1.5rem; */
}
table *{
    font-size: 2.7rem;
}
.alert{
    font-size: 1.7rem;
}
form{

}
label{

}
input{

}
textarea{
    /* font-size: 1.5rem; */
}
button{
    font-size: 2rem;
}
.hidden {
    font-size: 1px;
}

/*******************************************/
/*! TYPOGRAPHY SPACING (LINE, WORD, LETTER)
/*******************************************/

body {
	line-height: 2rem;
    letter-spacing: .34rem;
}
h1{
    /* width: 30%; */
    line-height: 1.36em;
    letter-spacing: .34rem;
}
header{
    /* align-items: baseline; */
    line-height: 4rem;
}
form label{
    /* letter-spacing: normal; */
    /* line-height: 1rem; */
}
.card{
    line-height: 3rem;
    letter-spacing: -.05rem;
}
h2{
    letter-spacing: .36rem;
    /* line-height: 4rem; */
}
.alert{

}
.line-height-less{
    line-height: 2rem;
}
nav a:-webkit-any-link{
    letter-spacing: normal;
    line-height: 4rem;
}
/*******************************************/
/*! FONT WEIGHT
/*******************************************/

body*{
    font-weight:400;
}
.alert{
    font-weight: 600;
}
h1{
    font-weight: 700;
}
h2{
    font-weight: 300;
}
h3{
    font-weight: 600;
}
button,
.btn{
    font-weight: 600;
}
label{
    font-weight: 600;
}
input{
    font-weight: 600;
}

/*******************************************/
/*! ALIGN
/*******************************************/

.right{
    text-align: right;
}
.left{
    text-align: left;
}

/*******************************************/
/*! FONT-FAMILIES, COLORS & STYLES
/*******************************************/
.ibm-plex-mono {
    font-family: 'IBM Plex Mono', monospace, sans-serif;
}
.anybody {
  font-family: 'Anybody', cursive;
}
.mirza {
  font-family: 'Mirza', cursive;
}
.silkscreen {
  font-family: 'Silkscreen', cursive;
}
.italic{
    font-style: italic;
}
.upper{
    text-transform: uppercase;
}
body * {
    font-family: 'IBM Plex Mono', monospace;
    color: #0c4303;
}
form{
    color: inherit;
}
label{
    color: inherit;
}
input{
    color: inherit;
}
textarea{
    font-family: inherit;
}
button,
.btn{
    color: inherit;
}
a:-webkit-any-link{
    text-decoration: none;
}
nav a:-webkit-any-link{
    color: inherit;
    text-decoration: underline;
}
nav a:hover {
    color: inherit;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
}
.alert{
    color: #ffffff;
    text-transform: uppercase;
}
button,
.btn{
    text-decoration: none;
}
textarea:focus,
input:focus {
    caret-color: #0c4303;
}

/*******************************************/
/*! BACKGROUND COLORS
/*******************************************/

body{
    background-color: #b2d8ff;
    /* background-image: url(/static/assets/scribble_logo.png); */
    background-size:cover;
}
main,
header{
    background-color: #b2d8ff;

}
form,
.card{
    background-color: rgba(255, 228, 232, 0.751);
}
button,
.btn{
    background-color: rgb(196, 255, 204);
}
form div input,
form div input:active,
form div input:focus,
form div input:focus-visible,
form div input:autofill {
    background-color: inherit;
    outline: none;
}
textarea{
    background-color: inherit;
}
textarea:focus,
textarea:active{
    background-color: inherit;
    outline: none;
}
select {
    background-color: inherit;
}
.alert{
    background-color: #9b0000;
}

/*******************************************/
/*! BORDERS
/*******************************************/
form,
.card {
    border-radius: 2em;
    border: 1px solid #0c4303;
}
input,
textarea {
    border: none;
}
.border_bottom_white {
    border-bottom: 1px solid #0c4303;
}
button,
.btn {
    border-radius: 30px;
    border: 1px solid #0c4303
}
button:hover,
.btn:hover {
    border: 2px solid #0c4303;
}
.class-pic{
    border: 1px solid ##c4303;
    border-radius: 2em;
}
/*******************************************/
/*! LAYOUT
/*******************************************/

body {
    width: 825px;
    margin: 0 auto;
}
header {
    /* width: inherit; */
    padding: 30px 0;
}
.logo {
    width: 125px;
    height: 125px;
    /* align-self: flex-end; */
}
.img-card-300{
    width: 150px;
}
.class-pic{
    height: 336px;
}
nav {
    /* width: inherit; */
}
main {
    height: 800px;
    /* width: inherit; */
    padding: 0;
    margin: 0;
}
form{
    /* width: auto; */
    gap:2em;
    /* padding: 55px; */
}
#reg {
    width: 350px;
}
textarea{
    height: inherit;
    width: 640px;
    padding: 25px;
}
.card{
    /* width: 800px; */
    padding: 50px;
    /* margin: 0 auto; */
}
.card-small{
    width: 250px;
}
.flx {
    display: flex;
}
.col {
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.wrap{
    flex-wrap: wrap;
}
.flx-end{
    justify-content: flex-end;
}
.flx-start{
    justify-content: flex-start;
}
.space-evenly{
    justify-content: space-evenly;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.vert-align-base{
    vertical-align: baseline;
}
.vert-align-auto{
    vertical-align: auto;
}
.vert-align-top{
    vertical-align:top;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}
.mt {
    margin-top: 20px;
}
.pt {
    padding-top: 20px;
}
.mb {
    margin-bottom: 20px;
}
.mr {
    margin-right: 20px;
}
.ml {
    margin-left: 25px;
}
.pl{
    padding-left: 100px;
}
.flx-1 {
    flex: 1;
}
.flx-2 {
    flex: 2;
}
.flx-3 {
    flex: 3;
}
.flx-4 {
    flex: 4;
}
.width-25-percent{
    width: 25%;
}
.width-40-percent{
    width: 40%;
}
.width-50-percent{
    width: 50%;
}
.width-75-percent{
    width: 75%;
}
.gap-1 {
    gap: 1rem;
}
.gap-2 {
    gap: 2rem;
}
.gap-3 {
    gap: 3rem;
}
.gap-4 {
    gap: 4rem;
}
.gap-5 {
    gap: 5rem;
}
.hidden {
    visibility: collapse;
    margin: 0;
    padding: 0;
}
.card {
    margin: 0;
}
button,
.btn{
    padding: 25px;
}
.alert {
    padding-left: 15px;
    width: auto;
    margin: 0 auto;
}
.short-alert {
    width: 50%;
}
#reg input,
#login input{
    width: 100%;
    /* padding: 0; */
}
#add,
#edit{
    /* width: auto; */
}
#add input,
#edit input{
    height: 25px;
    width: 690px;
}
#view_one{
    /* width: 690px; */
}
#dash{
    /* width: 690px; */
}
/*******************************************/
/*! CARD
/*******************************************/
.card{
    box-shadow: 5px 5px rgb(11, 0, 11);
}

/*******************************************/
/*! TEXT FORMATTING
/*******************************************/

.justify{
    text-align: justify;
}

/*******************************************/
/*! MY FORMS
/*******************************************/

form{
    box-shadow: 4px 4px rgb(11, 0, 11);
}
input,
textarea {
    /* vertical-align: bottom; */
}
textarea {
    background-image: url(/static/assets/blue_grid.png);
    background-size:cover;
}
textarea:focus,
input:focus {
    outline: none;
}
/*******************************************/
/*! MY TABLES
/*******************************************/

.tableFixHead {
  margin: 25px 0;
  overflow-y: auto;
  height: 250px;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.tableFixHead::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.tableFixHead thead th {
  background-color: #000000;
  position: sticky;
  top: 0px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
  /* border: 1px solid #ccc; */
}
tr:hover {
  background: #054b36;
}

/*******************************************/
/*! MY BUTTONS
/*******************************************/
button{
    width: 100%;
    /* height: 50px; */
}
button,
.btn{
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 5px 5px #0b000b;
}
button:hover,
.btn:hover{
    box-shadow: 1px 1px #0b000b;
}
